.suggestion-frame {
    margin: 10px;
    /* width: 120px;
    height: 70px; */
}

.suggestion {
    margin: 5px;
}

.suggestion-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

/* .suggestion-buttons > div > svg {
    transform: scale(0.5%);
} */